  <!-- Movie List -->
  <div class="container mt-2" *ngIf="!searchQuery">
    <div class="row">
      <div class="col-md-4" *ngFor="let movie of movies">
        <div class="card mt-4 position-relative" (click)="viewDetails(movie.imdbID)">
          <img
            [src]="movie.Poster"
            class="card-img-top"
            alt="{{ movie.Title }}"
          />
          <div class="overlay-card">
            <i class="fas fa-search"></i>
          </div>
        </div>
      </div>
    </div>
  </div>