<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add movie to a list</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- Dropdown for selecting values -->
    <select
      *ngIf="movieLists"
      [(ngModel)]="selectedValue"
      class="form-control custom-select"
    >
      <option value="" selected>Create a list</option>
      <option *ngFor="let movieList of movieLists ?? []" [ngValue]="movieList">
        {{ movieList.ListName }}
      </option>
    </select>

    <div *ngIf="!selectedValue">
      <!-- Input for creating new value -->
      <p>Create a new list</p>
      <input
        [ngClass]="{ 'invalid-input': !newListName }"
        [(ngModel)]="newListName"
        class="form-control"
        placeholder="List Name"
      />
      <input
        [ngClass]="{ 'invalid-input': !newListDescription }"
        [(ngModel)]="newListDescription"
        class="form-control"
        placeholder="List Description"
      />
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-dark" (click)="onSave()">Save</button>
  </div>
</ng-template>

<button class="btn btn-outline-dark" (click)="open(content)">
  Add to list
</button>

<hr />

<pre>{{ closeResult }}</pre>
