<div clas="home-page">
  <div class="hero-image">
    <div class="overlay">
      <div class="hero-text">
        <h1 style="font-size: 50px">Movie App</h1>
        <h3>
          Unlock a world of cinematic exploration - search, rate, and chat about
          movies like never before
        </h3>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg mt-4">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <input
          type="text"
          id="yourInputElementId"
          placeholder="Search for a movie..."
          [(ngModel)]="searchQuery"
          (input)="searchMovies()"
        />
      </li>
    </ul>
  </nav>
  <p [textContent]="errorTag"></p>

  <!-- Movie Search List -->
  <div class="container mt-4">
    <div class="vl" *ngIf="searchQuery"><h1>Search</h1></div>
    <app-movie-card-list
      [movies]="movies"
      *ngIf="searchQuery"
    ></app-movie-card-list>
  </div>
</div>

<div class="home-container" *ngIf="!searchQuery">
  <div class="all-movies">
    <div class="trending-movies">
      <div class="top">
        <div class="vl"><h1>Popular</h1></div>
        <div class="view-all">View All</div>
      </div>
      <div class="movies-thumbnail">
        <app-movie-card-list
          [movies]="popularMovies"
          *ngIf="!searchQuery"
        ></app-movie-card-list>
      </div>
    </div>
    <div class="theatre-movies">
      <div class="top">
        <div class="vl" *ngIf="!searchQuery"><h1>Upcoming Movies</h1></div>
        <div class="view-all">View All</div>
      </div>
      <div class="movies-thumbnail">
        <app-movie-card-list
          [movies]="upcomingMovies"
          *ngIf="!searchQuery"
        ></app-movie-card-list>
      </div>
    </div>
  </div>
  <div class="popular-movies">
    <h4>All Time Popular</h4>
    <div class="movies">
      <app-movie-list></app-movie-list>
      <div class="view-all">View all</div>
    </div>
  </div>
</div>
