.profile-container {
  width: 1400px;
  margin: 0 auto;
  padding: 50px;
  .top {
    display: flex;
    .left {
      width: 400px;
      .rating {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        .rating-value {
          margin-left: 20px;
          font-weight: bold;
        }
      }
      .cover {
        .username {
          margin: 20px;
        }
      }
    }
    .right {
      width: 900px;
      .rating-form {
        .form-group {
          margin-top: 20px;
          .rating {
            margin-top: -13px;
          }
          label {
            font-weight: bold;
            margin-bottom: 5px;
          }
          textarea {
            resize: none;
          }
        }
        .btn-container {
          margin-top: 30px;
        }
      }
    }
  }
  .bottom {
    margin-top: 50px;
    .title {
      margin-bottom: 30px;
    }
    .reviews {
      width: 1000px;
      .review {
        margin-bottom: 25px;
        background-color: #f1f1f1;
        padding: 20px;
        border-radius: 5px;
        .review-details {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          .review-left {
            .author {
              font-size: 18px;
              font-weight: bold;
            }
            .author-dt {
              opacity: 0.7;
            }
          }
          .review-right {
            .rating {
              display: flex;
              align-items: center;
              .rating-value {
                margin-left: 20px;
                font-weight: bold;
              }
            }
          }
        }
        .review-text {
          font-style: italic;
          font-size: 18px;
        }
      }
      .no-reviews {
        font-style: italic;
        font-size: 18px;
      }
    }
  }
}

.vl {
  border-left: 6px solid #f5c518;
  height: 35px;
}

h4 {
  margin-left: 10px;
  margin-bottom: 30px;
}

/* Add these styles to make the profile picture circular, centered, and show file input on hover */
.profile-pic-container {
  position: relative;
  width: 256px; /* Set your desired width and height */
  height: 256px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Add this line to establish a new positioning context */
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the circular container */
  border-radius: 50%; /* Ensure the image itself is circular */
}






