<div class="profile-container mt-5" *ngIf="profile">
  <div class="top">
    <div class="left">
      <div class="cover">
        <div class="profile-pic-container mt-5">
          <ng-container *ngIf="profile.Picture; else defaultPic">
            <img
              [src]="profile.Picture"
              alt="Profile Picture"
              class="profile-pic"
              width="256"
              height="256"
            />
          </ng-container>

          <ng-template #defaultPic>
            <img
              src="../assets/icons/user.png"
              alt="Default Profile Picture"
              class="profile-pic"
              width="256"
              height="256"
            />
          </ng-template>
        </div>
        <!-- File input -->
        <input
          type="file"
          (change)="onFileSelected($event)"
          accept="image/*"
          class="file-input-hidden mt-4"
        />
      </div>
    </div>
    <div class="right">
      <div class="vl mb-4 mt-5"><h4 class="title">Update Profile</h4></div>
      <div class="rating-form" *ngIf="user">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            [(ngModel)]="user.Email"
            type="text"
            name="email"
            class="form-control"
            required
          />
        </div>
        <div class="form-group" [ngClass]="{ 'invalid-input': !passwordValid }">
          <label for="uname">Username</label>
          <input
            [(ngModel)]="user.Username"
            type="text"
            name="uname"
            class="form-control"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            [(ngModel)]="user.Password"
            type="text"
            name="password"
            class="form-control"
            aria-describedby="passwordHelpBlock"
            required
          />
        </div>
        <small
          id="passwordHelpBlock"
          class="form-text text-muted mb-2"
          *ngIf="!passwordValid"
        >
          Password must have at least 8 characters, one uppercase letter, one
          lowercase letter, one digit, and one special character.
        </small>
        <div class="btn-container">
          <button
            class="btn btn-dark"
            (click)="openConfirmationModal(updateConfirmation)"
          >
            Submit
          </button>
          <button
            class="btn btn-danger ml-2"
            (click)="openConfirmationModal(deleteConfirmation)"
          >
            Delete
          </button>
        </div>

        <ng-template #updateConfirmation let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Confirmation</h4>
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to update your profile?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="modal.dismiss('Cancel')"
            >
              Cancel
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="updateUserProfile(); modal.close('Confirm')"
            >
              Update
            </button>
          </div>
        </ng-template>

        <ng-template #deleteConfirmation let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Confirmation</h4>
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete your profile?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="modal.dismiss('Cancel')"
            >
              Cancel
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="deleteUserProfile(); modal.close('Confirm')"
            >
              Delete
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="left">
      <div class="vl mb-4"><h4 class="title">Reviews</h4></div>
      <div class="reviews" *ngIf="profile.Reviews.length > 0">
        <div class="review" *ngFor="let review of profile?.Reviews">
          <div class="review-details">
            <div class="review-left">
              <div class="author">Movie: {{ review.MovieTitle }}</div>
              <div class="author">{{ review.ReviewTitle }}</div>
              <div class="mt-2">
                {{ review.Review }}
              </div>
              <div class="author_dt mt-2">
                {{ review.PublishedOn | date : "dd-MMM-YYYY" }}
              </div>
            </div>
            <div class="review-right">
              <div class="rating">
                <app-star-rating [rating]="review.Rating" [isReadOnly]="true">
                </app-star-rating>
                <span class="rating-value">{{ review.Rating }}</span>
              </div>
            </div>
          </div>
          <div class="review-text"></div>
        </div>
      </div>
      <div class="reviews" *ngIf="profile?.Reviews?.length === 0">
        <div class="no-reviews">No reviews yet</div>
      </div>
    </div>
    <div class="right">
      <div class="popular-movies">
        <div class="vl mb-4"><h4 class="title">My Movie Lists</h4></div>
        <div class="movies">
          <app-movie-list></app-movie-list>
          <div class="view-all">View all</div>
        </div>
      </div>
    </div>
  </div>
</div>
