<div class="login-page">
  <div class="container">
    <div class="login-box">
      <h2>Sign Up</h2>
      <form (ngSubmit)="onSignUp()" #signupForm="ngForm">
        <div
          class="input-container"
          [ngClass]="{ 'invalid-input': !emailValid }"
        >
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Email" name="email" [(ngModel)]="email" required />
        </div>
        <div
          class="input-container"
          [ngClass]="{ 'invalid-input': !usernameValid }"
        >
          <i class="fas fa-user"></i>
          <input
            type="text"
            placeholder="Username"
            name="username"
            [(ngModel)]="username"
            required
          />
        </div>
        <div
          class="input-container"
          [ngClass]="{ 'invalid-input': !passwordValid }"
        >
          <i class="fas fa-lock"></i>
          <input
            type="password"
            placeholder="Password"
            name="password"
            [(ngModel)]="password"
            required
            aria-describedby="passwordHelpBlock"
          />
        </div>
        <small id="passwordHelpBlock" class="form-text text-muted mb-2" *ngIf="!passwordValid">
          Password must have at least 8 characters, one uppercase letter, one lowercase letter, one digit, and one special character.
        </small>
        <button class="btn btn-dark" class="login-button" type="submit">
          Sign Up
        </button>
      </form>
    </div>
  </div>
</div>
