.home-page {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Set minimum height to 100% of the viewport height */
}

.vl {
  border-left: 6px solid #f5c518;
  height: 47px;
}

h1 {
  margin-left: 10px;
}
