<div class="movie-container" *ngIf="movie">
  <div class="top">
    <div class="left">
      <div class="heart-icon">
        <app-modal-popup class="list-button"></app-modal-popup>
      </div>
      <div class="favourite mb-4">
        <div class="name">{{ movie.Title }}</div>
      </div>
      <div class="cover">
        <img [src]="movie.Poster" alt="" />
      </div>
      <div class="vl mb-2"><h4 class="title">Plot</h4></div>
      <p class="mb-5">{{ movie.Plot }}</p>
      <div class="vl mb-2"><h4 class="title">Ratings</h4></div>
      <table class="table">
        <tbody>
          <tr *ngFor="let rating of movie.Ratings">
            <td *ngIf="rating.Source === 'Internet Movie Database'">
              <img src="../../../assets/icons/icons8-imdb-48.png" alt="Imdb Icon" />
            </td>
            <td *ngIf="rating.Source === 'Rotten Tomatoes'">
              <img src="../../../assets/icons/rotten-tomatoes-icon.png" width="48px" height="48px" alt="Imdb Icon" />
            </td>
            <td *ngIf="rating.Source === 'Metacritic'">
              <img src="../../../assets/icons/icons8-metascore-48.png" alt="Imdb Icon" />
            </td>
            <td>{{ rating.Value }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="right">
      <div class="vl mb-2"><h4 class="title">Rate this movie</h4></div>
      <div class="rating-form">
        <div class="form-group">
          <label for="uname">Title</label>
          <input type="text" name="uname" class="form-control" />
        </div>
        <div class="form-group">
          <label for="rating">Rating</label>
          <div class="rating">
            <app-star-rating
              [rating]="0"
              [isReadOnly]="false"
            ></app-star-rating>
          </div>
        </div>
        <div class="form-group">
          <label for="review">Review</label>
          <textarea name="review" rows="3" class="form-control"></textarea>
        </div>
        <div class="btn-container">
          <button class="btn btn-dark">Submit</button>
        </div>
      </div>

      <div class="container mt-5">
        <div class="vl mb-2"><h4 class="title">Information</h4></div>
        <table class="table">
          <tr>
            <td>Director</td>
            <td>{{ movie.Director }}</td>
          </tr>
          <tr>
            <td>Actors</td>
            <td>{{ movie.Actors }}</td>
          </tr>
          <tr>
            <td>Genre</td>
            <td>{{ movie.Genre }}</td>
          </tr>
          <tr>
            <td>Awards</td>
            <td>{{ movie.Awards }}</td>
          </tr>
          <tr>
            <td>Box Office</td>
            <td>{{ movie.BoxOffice }}</td>
          </tr>
          <tr>
            <td>Country</td>
            <td>{{ movie.Country }}</td>
          </tr>
          <tr>
            <td>Released</td>
            <td>{{ movie.Released }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="vl mb-4"><h4 class="title">Reviews</h4></div>
    <div class="reviews">
      <div class="review" *ngFor="let review of movie.Reviews">
        <div class="review-details">
          <div class="review-left">
            <div class="author">{{ review.AuthorName }}</div>
            <div class="author_dt">
              {{ review.PublishedOn | date : "dd-MMM-YYYY" }}
            </div>
          </div>
          <div class="review-right">
            <div class="rating">
              <app-star-rating [rating]="3.5"></app-star-rating>
              <span class="rating-value">{{ review.Rating }}</span>
            </div>
          </div>
        </div>
        <div class="review-text"></div>
      </div>
    </div>
    <div class="reviews" *ngIf="movie?.Reviews?.length === 0">
      <div class="no-reviews">No reviews yet</div>
    </div>
  </div>
</div>
